<main class="view-code flex col-flex">
    <section class="code flex">
        <section class="html">
            <header class="html-header flex sb">
                <h1>HTML Code</h1>
                <button (click)="copyHTML()" class="flex"><span class="material-icons">content_copy</span> Copy</button>
            </header>
            <section class="html-code">
                <pre>{{getHTMLCode()}}</pre>
            </section>
        </section>
        <section class="css">
            <header class="css-header flex sb">
                <h1>CSS Code</h1>
                <button (click)="copyCSS()" class="flex"><span class="material-icons">content_copy</span> Copy</button>
            </header>
            <section class="css-code">
                <pre>{{getCSSCode()}}</pre>
            </section>
        </section>
    </section>
    <section class="external-links flex">
        <p><b>Icon stylesheet</b> {{getIconStyleSheet()}}</p>
        <button (click)="copyIconStyleSheet()" class="flex">
            <span class="material-icons">content_copy</span> Copy
        </button>
    </section>
</main>