<section class="edit-props">
    <section class="edit-props__form">
        <app-padding-props-form></app-padding-props-form>
    </section>
    <section class="edit-props__form">
        <app-font-measured-props-form></app-font-measured-props-form>
    </section>
    <section class="edit-props__form">
        <app-measurement-props-form></app-measurement-props-form>
    </section>
    <section class="edit-props__form">
        <app-coloured-props-form></app-coloured-props-form>
    </section>
</section>