<section class="edit-props">
    <h1 class="edit-props__title">EDIT PROPS</h1>
    <section class="edit-props__form" *ngIf="isTextElement()">
        <app-text-props-form (applyChanges)="getEditWidget()?.setProps($event)" [props]="getEditWidget()?.getProps()"></app-text-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isPaddingStyleable()">
        <app-padding-props-form (applyChanges)="getEditWidget()?.setPaddingStyles($event)" [props]="getEditWidget()?.getPaddingStyles()"></app-padding-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isFontMeasureable()">
        <app-font-measured-props-form (applyChanges)="getEditWidget()?.setFontMeasurableStyles($event)" [props]="getEditWidget()?.getFontMeasurableStyles()"></app-font-measured-props-form>
    </section> 
    <section class="edit-props__form" *ngIf="isMeasureable()">
        <app-measurement-props-form (applyChanges)="getEditWidget()?.setMeasurableStyles($event)" [props]="getEditWidget()?.getMeasurableStyles()"></app-measurement-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isColorable()">
        <app-coloured-props-form (applyChanges)="getEditWidget()?.setColorStyles($event)" [props]="getEditWidget().getColorStyles()"></app-coloured-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isBorderStyleable()">
        <app-borderstyled-props-form (applyChanges)="getEditWidget()?.setBorderStyles($event)" [props]="getEditWidget()?.getBorderStyles()"></app-borderstyled-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isContainerStyleable()">
        <app-flex-container-props-form (applyChanges)="getEditWidget()?.setContainerStyles($event)" [props]="getEditWidget()?.getContainerStyles()"></app-flex-container-props-form>
    </section>
</section>