<section class="edit-props">
    <button (click)="closeTab()">Close</button>
    <section class="edit-props__form" *ngIf="isPaddingStyleable()">
        <app-padding-props-form (applyStyles)="setPaddingStyles($event)" [styleProps]="getEditWidget()?.getPaddingStyles()"></app-padding-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isFontMeasureable()">
        <app-font-measured-props-form (applyStyles)="setFontMeasurableStyles($event)" [styleProps]="getEditWidget()?.getFontMeasurableStyles()"></app-font-measured-props-form>
    </section> 
    <section class="edit-props__form" *ngIf="isMeasureable()">
        <app-measurement-props-form></app-measurement-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isColorable()">
        <app-coloured-props-form></app-coloured-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isBorderStyleable()">
        <app-borderstyled-props-form></app-borderstyled-props-form>
    </section>
    <section class="edit-props__form" *ngIf="isContainerStyleable()">
        <app-flex-container-props-form (applyStyles)="setContainerStyles($event)" [styleProps]="getEditWidget()?.getContainerStyles()"></app-flex-container-props-form>
    </section>
</section>