<section class="edit-props-form">
    <details class="widgets__groups">
        <summary>Color</summary>
        <section [formGroup]="getStyleForm()" class="edit-props-form__fields flex start">
            <section class="edit-props-form__field">
                <p>Base</p>
                <input formControlName="color" type="color">
            </section>
            <section class="edit-props-form__field">
                <p>BG</p>
                <input formControlName="backgroundColor" type="color">
            </section>
        </section>
    </details>
</section>