<section class="edit-props-form">
    <details class="widgets__groups">
        <summary>Flex Alignment</summary>
        <section [formGroup]="getStyleForm()" class="edit-props-form__fields flex start">
            <section class="edit-props-form__select-field ">
                <p>Align</p>
                <select formControlName="alignItems">
                    <option value="flex-start">Flex start</option>
                    <option value="center">center</option>
                    <option value="flex-end">Flex-end</option>
                </select>
            </section>
            <section class="edit-props-form__select-field ">
                <p>Justify</p>
                <select formControlName="justifyContent">
                    <option value="space-between">space between</option>
                    <option value="space-evenly">space evenly</option>
                </select>
            </section>
        </section>
    </details>
</section>