<section class="edit-props-form">
    <h1 class="edit-props-form__header">Flex</h1>
    <section class="edit-props-form__fields flex start">
        <section class="edit-props-form__select-field ">
            <p>Alignment</p>
            <select>
                <option>start</option>
                <option>center</option>
                <option>end</option>
            </select>
        </section>
        <section class="edit-props-form__select-field ">
            <p>Justification</p>
            <select>
                <option>space between</option>
            </select>
        </section>
    </section>
</section>