.context-menu {
    background-color: white;
    border-radius: 5px;
    font-size: 2em;
}
.context-menu__option {
    padding: 4% 5%;
    button {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        margin-left: 5%;
    }
}
.context-menu__option:hover {
    background-color: rgb(204, 183, 183);
}