<section class="edit-props-form">
    <details class="widgets__groups">
        <summary>Padding (%)</summary>
        <section class="edit-props-form__fields flex start">
            <section class="edit-props-form__field">
                <p>Left</p>
                <input type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Right</p>
                <input type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Top</p>
                <input type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Bottom</p>
                <input type="number">
            </section>
        </section>
    </details>
</section>