<section class="edit-props-form">
    <h1 class="edit-props-form__header">Padding</h1>
    <section class="edit-props-form__fields flex start">
        <section class="edit-props-form__field">
            <p>Left</p>
            <input type="number">
        </section>
        <section class="edit-props-form__field">
            <p>Right</p>
            <input type="number">
        </section>
        <section class="edit-props-form__field">
            <p>Top</p>
            <input type="number">
        </section>
        <section class="edit-props-form__field">
            <p>Bottom</p>
            <input type="number">
        </section>
    </section>
</section>