.widgets {
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-left: 1px solid black;
}
.widgets__groups {
    padding: 3%;
    summary {
        cursor: default;
    }
}
.widgets__group {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    margin: 3% 0;
}
.icon-widget {
    @extend .widgets__group;
    height: 10%;
    width: 30%;
    border: none;
    span {
        font-size: 3em;
    }
    cursor: default;
}
.content-widget {
    @extend .widgets__group;
    height: 10%;
    width: auto;
    margin: 4% 3% 3% 0;
    cursor: default;
}
.widget-list__title {
    padding: 2%;
    border-bottom: 2px solid black;
    text-align: center;
}