<section class="widgets">
    <details class="widgets__groups">
        <summary>Text</summary>
        <section class="flex wrap sb">
            <section class="content-widget flex">
                <span class="material-icons">title</span>
                <p>Heading</p>
            </section>
            <section class="content-widget flex">
                <span class="material-icons">title</span>
                <p>Heading</p>
            </section>
            <section class="content-widget flex">
                <span class="material-icons">title</span>
                <p>Heading</p>
            </section>
        </section>
    </details>
    <details class="widgets__groups">
        <summary>Icons</summary>
        <section class="flex wrap sb">
            <section class="icon-widget flex">
                <span class="material-icons">5k</span>
            </section>
        </section>
    </details>
</section>