<section class="widgets">
    <h3 class="widget-list__title">WIDGETS</h3>
    <details *ngFor="let widgetGroup of getWidgetGroups()" class="widgets__groups">
        <summary>{{widgetGroup.getName()}}</summary>
        <section class="flex wrap start">
            <section *ngFor="let element of widgetGroup.getElements()" (click)="createElement(element.getTagName(), element.getProps(), element.getClassName())" [class.content-widget] = "!element.isIconWidget()" [class.icon-widget] = "element.isIconWidget()" class="flex">
                <p *ngIf="!element.isIconWidget()">{{element.getName()}}</p>
                <span *ngIf="element.isIconWidget()" [class]="element.getClassName()">{{element.getName()}}</span>
            </section>
        </section>
    </details>
</section>