<section class="edit-props-form">
    <details class="widgets__groups">
        <summary>Border</summary>
        <section [formGroup]="getStyleForm()" class="edit-props-form__fields flex start">
            <section class="edit-props-form__field">
                <p>Width (px)</p>
                <input formControlName="borderWidth" type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Radius (px)</p>
                <input formControlName="borderRadius" type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Color</p>
                <input formControlName="borderColor" type="color">
            </section>
        </section>
    </details>
</section>