<section class="edit-props-form">
    <details class="widgets__groups">
        <summary>Border</summary>
        <section class="edit-props-form__fields flex start">
            <section class="edit-props-form__field">
                <p>Width (%)</p>
                <input type="number">
            </section>
            <section class="edit-props-form__field">
                <p>Color</p>
                <input type="color">
            </section>
        </section>
    </details>
</section>