.builder {
    width: 100%;
    height: 100%;
    background-color: black;
}
.builder__header {
    height: 10%;
    width: 100%;
    background-color: blue;
}
.builder__core {
    width: 100%;
    height: 90%;
    background-color: brown;
}
.builder__placeholder {
    height: 100%;
    width: 80%;
    background-color: tomato;
}
.builder__widgets-list {
    height: 100%;
    width: 20%;
    background-color: darkgreen;
}
