<main class="builder">
    <header class="builder__header">
        <app-top-bar></app-top-bar>
    </header>
    <section class="builder__core flex">
        <section (click)="onWidgetSelect($event)" (contextmenu)="onContextMenu($event)" class="builder__placeholder flex">
            <section class="builder-root" #builderRoot>

            </section>
        </section>
        <aside class="builder__widgets-list">
            <app-widgets-list *ngIf="!showEditWidgetMenu()" (createWidget)="createWidget($event)"></app-widgets-list>
            <app-edit-widget-props *ngIf="showEditWidgetMenu()"></app-edit-widget-props>
        </aside>
    </section>
</main>