<main class="help-banner">
    <header class="help-banner__header flex start">
        <h1>Welcome to Markup Maker </h1>
    </header>
    <section class="help-banner__content">
        <h3 class="help-banner__tip">
            <b>
                Follow the below steps to quickly design wireframe with prebuilt widgets and generate code
            </b>
        </h3>
        <ol class="help-banner__steps">
            <li>Click on the widget to select it as the <b>parent widget</b>. parent widget will be hightlighed in blue outline.</li>
            <li>Click on one of the widgets from the <b>Widgets list</b> to append in the selected parent widget.</li>
            <li>Right click on the widget and choose <b>Edit</b> option. Change the style and widget props using the right side panel.</li>
            <li>Finally click on the <b>Generate code</b> button to see the code output.</li>
        </ol>
        <section class="flex">
            <button (click)="close()" class="help-banner__proceed-btn">Got it</button>
        </section>
    </section>
    <footer class="help-banner__footer"></footer>
</main>